
body{
    background-color: Black;
    padding: .5rem;
}
/* Navbar */
#imageHolder{
   background-image: url("Images/top-background.jpg");
    background-color: white;
   background-size: contain;
   background-position: right, bottom;
   background-repeat: no-repeat;
   padding: 4rem;
}

.info{
    font-family: 'Bowlby One SC', cursive;
    color: #002081;
}
.cool{
    font-family: 'Russo One', sans-serif;
    color: #42444d;
    text-decoration: steelblue;
}

.tagline{
    font-family: 'Russo One', sans-serif;
    color: white;
    text-decoration: white;
    font-size: 1.8rem;
}
#image{
    margin: 0 auto;
    width: 25rem;
    height: 5rem;
}
#raised{
    margin: 0 auto;
    text-align: center;
    background-color: rgba(243, 243, 243, 0.877);
    width: fit-content;
}

/* Main Div background */
#currentMovie{
    background-image: url("Images/Black-Widow.png");
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-color: rgba(77, 0, 0, 0.726);
    padding-top: 8rem;
  
}


/* Opening Video */
#video{
   background-color: rgba(201, 108, 108, 0.226);
    width: 60%;
    margin: 0 auto;
    height: 30rem;
    position: relative;
    left: auto;
    right: auto;
}

/* AfterFold Info Page */
#afterFold{
    height: fit-content;
    margin: 0 auto;
    width: 100%;
    background-color: whitesmoke;
}

/* Footer */
.footer {
    border-radius: 8px;
    width: 100%;
    background-image: url("Images/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 8rem;
    margin-bottom: 1rem;
  }

 #twitter{
     border-top-style: double;
     border-right-style: double;
     border-width: .7rem;
     border-color: #112563;
 }



  @media only screen and (max-width: 485px) {
    body{
        background-color: white;
    }
    
    #raised{
     
        text-align: center;
        background-color: rgba(243, 243, 243, 0.877);
        width: 300px;
        padding: 20px;
    }
    #imageHolder{
        background-image: url("Images/top-background.jpg");
         background-color: white;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        padding-left: 1rem ;
     }

     #currentMovie{
        background-color: rgb(0, 0, 0); 
    }

    /* Footer */
.footer {
    border-radius: 1px;
    background-image: url("Images/smallCap.jpg");
    background-size: 100%;
    background-position: center;
    color: white;
    text-align: center;
    padding: 4rem;
    margin-bottom: 1rem;
    color: black;
    font-size: 4rem;

  }
  .tagline{
    font-family: 'Russo One', sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.8rem;
}

  #video{
     width: 85%; 
     height: 20rem;
 }
 #twitter{
    border-style: none;
    border-width: none;
    border-color: none;
}
 
  }

  @media only screen and (max-height: 485px) {

    #currentMovie{
        padding-top: 1rem;

    }
    #video{
        width: 60%; 
        height: 15rem;
    }


    }